@using ServerRenderedReactNetMvc.Models

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - My ASP.NET Application</title>
  @Styles.Render("~/Content/css")
  @Styles.Render("~/Content/bootstrap.min.css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>

  @Html.React("Layout", new
  {
    links = new List<NavLink> { 
      new NavLink() { Title = "Home", Url = @Url.Action("Index", "Home", null, Request.Url.Scheme) },
      new NavLink() { Title = "About", Url = @Url.Action("About", "Home", null, Request.Url.Scheme) },
      new NavLink() { Title = "Contact", Url = @Url.Action("Contact", "Home", null, Request.Url.Scheme) }
    },
    children = RenderBody().ToHtmlString(),
    year = @DateTime.Now.Year
  })

  <script src="@Url.Content("~/node_modules/react/dist/react.min.js")"></script>
  <script src="@Url.Content("~/node_modules/react-dom/dist/react-dom.min.js")"></script>
  <script src="@Url.Content("~/node_modules/react-bootstrap/dist/react-bootstrap.min.js")"></script>
  <script src="@Url.Content("~/Components/Views/Layout.jsx")"></script>
  @RenderSection("scripts", required: false)
</body>
</html>
